{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint"
    ],
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "rules": {
        
    },
    "printWidth": 120,
    "arrowParens": "avoid",
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": false,
    "proseWrap": "always"
  }
  